

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">{{title}}</a>

  <!-- Links -->
  <ul class="navbar-nav">

    <li class="nav-item">
      <a class="nav-link" href="http://localhost:4200/">Home</a>
    </li>

    <li class="nav-item">
      <a routerLink="/user"  class="nav-link" href="#">User</a>
    </li>

    <!-- Dropdown Admin -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Admin
      </a>
      <div class="dropdown-menu bg-dark">
        <a routerLink="/userlist"  class="dropdown-item" href="#">User List</a>
        <!-- <a class="dropdown-item" href="#">User List</a>-->
        <a routerLink="/todolist"  class="dropdown-item" href="#">ToDo List</a>

      </div>
    </li>

    <!--  <li class="nav-item">
       <a routerLink="/user" class="nav-link" href="#">Users</a>
     </li> -->

    <li class="nav-item">
      <a routerLink="/signUp"  class="nav-link" href="#">Sign Up</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Login</a>
    </li>



  </ul>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>




