<div class="container">
  <div class="main-body">


      <button class="btn btn-info" *ngIf="isLoggedIn" class="nav-link" href="/logout" (click)=handleLogout()>Logout</button>



    <!-- /Breadcrumb -->

    <div class="row gutters-sm col d-flex justify-content-center">

      <div class="col-md-8">
        <h3>User Profile</h3>
      </div>

      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="100">
              <div class="mt-3">
                <h4>UserName</h4>

              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Firstname</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                Kenneth Valdez
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Lastname</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                Novak
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                fip@jukmuh.al
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Password</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                Pass123
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Role</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                Admin
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <a class="btn btn-info" href="user">Edit</a>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>
