<div class="container h2_margin">
  <h2>Users</h2>
  <p>All users</p>

  <div class="row">
    <div class="col-12 col-sm-2">
      <a href="usersearch" class="btn btn-outline-info btn_border" type="button">Find user by username</a>
    </div>

    <div class="col-12 col-sm-1">
      <a href="usersearchid" class="btn btn-outline-info btn_border" type="button">Find user by Id</a>
    </div>
  </div>


  <div class="card my-5" id="user-list">
    <div class="card-body">
      <table class="table table-dark table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Username</th>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.uid }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.firstname }}</td>
          <td>{{ user.lastname }}</td>
          <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
          <td>{{ user.role }}</td>
          <td>
            <button  (click)="OnDelete(user)" type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-trash"></span>
          </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
